{{!-- {{infoAuthor}} --}}
<div id="show-messenger">
    <div class="messenger">
        <div class="chatMenu">
            <div class="chatMenuWrapper">
                    <div class="conversation">
                        <img id="conversationImg" src="" alt="" />
                        <span id="conversationName"></span>
                        <br />
                        <span id="conversationEmail"></span>
                        <br />
                        <span id="conversationPhone"></span>
                        <br />
                        <span><a id="conversationInstagram" href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></span>
                        <span><a id="conversationFacebook" href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></span>
                        </div>
            </div>
        </div>
        <div class="chatBox">
            <div class="chatBoxWrapper">
                <div class="chatBoxTop" id="chatBoxTop">
                    {{#each infoArray}}
                    {{#if this.id}}
                    <div class="message" id="{{this.id}}">
                        <div class="messageTop">
                            <img class="messageImg" id="imageAuthor" src="http://windows79.com/wp-content/uploads/2021/02/Thay-the-hinh-dai-dien-tai-khoan-nguoi-dung-mac.png" alt="" />
                            <p class="messageText">{{this.text}}</p>
                        </div>
                        {{!-- <div class="messageBottom">{{this.createdAt}}</div> --}}
                    </div>
                    {{else}}
                    <div class="own">
                        <div class="messageTop">
                            <p class="messageText">{{this.text}}</p>
                            <img class="messageImg" id="imageUserCurrent" src="" alt="" />
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
                <div class="chatBoxBottom">
                    <textarea class="chatMessageInput" placeholder="Write something ..." name="text"
                        id="text"></textarea>
                    <button class="chatSubmitButton" onclick="sendMessage()">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div id="testEmail">
    {{#each infoAuthor}}
        {{email}}
    {{/each}}
</div>
<div id="testUsername">
    {{#each infoAuthor}}
        {{username}}
    {{/each}}
</div>
<div id="testImage">
    {{#each infoAuthor}}
        {{avatar}}
    {{/each}}
</div>
<div id="testPhone">
    {{#each infoAuthor}}
        {{phone}}
    {{/each}}
</div>
<div id="testFacebook">
    {{#each infoAuthor}}
        {{facebook}}
    {{/each}}
</div>
<div id="testInstagram">
    {{#each infoAuthor}}
        {{instagram}}
    {{/each}}
</div>


<span id="imgUserCurrent" style="display:none">{{avatarUserCurrent}}</span>
<span data-id="{{conversationId}}" id="conversationId"></span>
<span data-id="{{idUserCurrent}}" id="idUserCurrent"></span>
<span data-id="{{idAuthor}}" id="idAuthor"></span>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    var imgUserCurrent = document.getElementById('imgUserCurrent').innerText;
    document.getElementById('imageUserCurrent').src = imgUserCurrent;

    // Information author
    var testImage = document.getElementById('testImage').innerText;
    if (testImage === '') {
        document.getElementById('conversationImg').src = "http://windows79.com/wp-content/uploads/2021/02/Thay-the-hinh-dai-dien-tai-khoan-nguoi-dung-mac.png";
    } else {
        document.getElementById('conversationImg').src = testImage;
        document.getElementById('imageAuthor').src = testImage;
    }

    var testEmail = document.getElementById('testEmail').innerText;
    if (testEmail === '') {
        document.getElementById('conversationEmail').innerText = "Email: " + "Chưa cập nhật";
    } else {
        document.getElementById('conversationEmail').innerText = "Email: " + testEmail;
    }

    var testUsername = document.getElementById('testUsername').innerText;
    if (testUsername === '') {
        document.getElementById('conversationName').innerText = "Chưa cập nhật";
    } else {
        document.getElementById('conversationName').innerText = testUsername;
    }

    var testPhone = document.getElementById('testPhone').innerText;
    if (testPhone === '') {
        document.getElementById('conversationPhone').innerText = "Phone: " + "Chưa cập nhật";
    } else {
        document.getElementById('conversationPhone').innerText = "Phone: " + testPhone;
    }

    var testFacebook = document.getElementById('testFacebook').innerText;
    if (testFacebook === '') {
        document.getElementById('conversationFacebook').href = "#";
    } else {
        document.getElementById('conversationFacebook').href = testFacebook;
    }

    var testInstagram = document.getElementById('testInstagram').innerText;
    if (testInstagram === '') {
        document.getElementById('conversationInstagram').href = "#";
    } else {
        document.getElementById('conversationInstagram').href = testInstagram;
    }

    function sendMessage() {
        var text = document.getElementById('text').value;
        var conversationId = document.getElementById('conversationId').getAttribute('data-id');
        var idUserCurrent = document.getElementById('idUserCurrent').getAttribute('data-id');
        var idAuthor = document.getElementById('idAuthor').getAttribute('data-id');
        var element = document.getElementsByClassName('chatBoxTop')
        element.scrollTop = element.scrollHeight - element.clientHeight;
        $.ajax({
            url: '/messages',
            type: 'POST',
            data: {
                text: text,
                conversationId: conversationId,
                sender: idUserCurrent,
                idAuthor: idAuthor
            }
        })
            .then(data => {
                console.log(data.text);
                window.location.href = '/conversations/' + idAuthor;
            })
            .catch()
    }
    document.addEventListener("DOMContentLoaded", function () {
        $('#chatBoxTop').animate({ scrollTop: 1000 }, 800)
    })

</script>